  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          {{ site.author }} | <a href="mailto:{{ site.email }}">{{ site.email }}</a><br />

          Source Code available at <a href="{{ site.git_repo }}">Framagit</a>.
          <small>This page was last updated at {{ "now" | date: "%d-%m-%Y %H:%M" }}</small>
        </p>
      </div>
    </div>
  </footer>

  </body>
</html>
