<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }} | {{ site.author }}</title>
    <link rel="stylesheet" href="assets/main.css">
  </head>
  <body>
