{% include head.html %}

{% if page.show_hero %}
<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ site.author }}
      </h1>
      <h2 class="subtitle">
        {{ site.title }}
      </h2>
    </div>
  </div>
</section>
{% endif %}

<section class="section">
  <div class="container">
    {% if page.title %}
    <h1 class="title">
      {{ page.title }}
    </h1>
    {% endif %}
    {% if page.subtitle %}
    <p class="subtitle">
      {{ page.subtitle }}
    </p>
    {% endif %}

    <div class="content">
    {{ content }}
    </div>
  </div>
</section>

{% include footer.html %}
